* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #b0a4a4;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  text-align: justify;
}
header img {
  height: 150px;
  width: 150px;
}
img {
  height: 100px;
  width: 100px;
}
nav {
  text-decoration: solid;
}
nav a {
  text-decoration: solid;
  border: 2px;
  border-color: #5f264a;
  color: #5f264a;
}
nav a:hover {
  background-color: #957777;
}
h1,
h2 {
  color: #5f264a;
}
section img:hover {
  border-style: double;
  border-color: #5f264a;
}
.about-me,
.contact {
  margin: 5px;
  background-color: #957777;
}
